@keyframes slot-animation {
  0% {
    flex-grow: 0;
  }
  50% {
    flex-grow: 0.5;
  }
  75% {
    flex-grow: 1.2;
  }
  100% {
    flex-grow: 1;
  }
}

@keyframes master-animation {
  0% {
    transform: scale(0) translateX(-100vw);
    opacity: 0;
  }
  50% {
    transform: scale(1.5) translateX(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}

.root {
  max-width: 100%;
  flex-grow: 1;
  text-align: center;
  background-color: var(--background-content-color);
  margin: 0.125rem;
  border-radius: var(--border-radius);
  animation: slot-animation 0.5s ease-in;
  padding: 1rem;
}

.root--status-current-user {
  border: solid 2px var(--primary-light-color);
}

.root__name {
  font-size: var(--text-md);
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.root__name__master {
  animation: master-animation 1s;
}
