.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
}

.header__icon {
  width: 32px;
  height: 32px;
  color: var(--background-contrast-text-color);
  fill: var(--background-contrast-text-color);
}

.main {
    flex-grow: 1;
    text-align: center;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    margin: 2rem 0;
    color: var(--subtitle-text-color);
    font-weight: bold;
}

.divider {
    margin: 1.5rem 0;
    position: relative;
}

.divider:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--muted-color);
    position: absolute;
    top: calc(50% - 1px);
}

.divider__content {
    color: var(--muted-color);
    font-size: var(--text-lg);
    text-transform: uppercase;
    background-color: var(--background-color);
    display: inline-block;
    position: relative;
    padding: 0 0.5rem;
}
