@keyframes button-hover {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes button-focus {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(30);
  }
}

.button {
  background-color: var(--primary-color);
  color: var(--primary-contrast-text-color);
  padding: .4rem 1.5rem;
  font-size: var(--text-md);
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  border: solid 1px transparent;
  max-width: 100%;
  margin-bottom: 0.5rem;
  border-radius: var(--border-radius);
  position: relative;
}

.button:focus::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  background-color: var(--primary-dark-color);
  border-radius: 50%;
  animation: button-focus 0.6s forwards;
}

.button--color-primary .button__content__icon svg {
  color: var(--primary-contrast-text-color);
  fill: var(--primary-contrast-text-color);
  stroke: var(--primary-contrast-text-color);
}

.button--color-secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-contrast-text-color);
}

.button--color-secondary .button__content__icon svg {
  color: var(--secondary-contrast-text-color);
  fill: var(--secondary-contrast-text-color);
  stroke: var(--secondary-contrast-text-color);
}

.button--color-secondary:focus::before {
  background-color: var(--secondary-dark-color);
}

.button--color-secondary:focus::before {
  background-color: var(--secondary-dark-color);
}

.button--color-success {
  background-color: var(--success-color);
  color: var(--success-contrast-text-color);
}

.button--color-success .button__content__icon svg {
  color: var(--success-contrast-text-color);
  fill: var(--success-contrast-text-color);
  stroke: var(--success-contrast-text-color);
}

.button--color-success:focus::before {
  background-color: var(--success-dark-color);
}

.button--color-transparent {
  background-color: transparent;
  color: inherit;
}

.button--color-transparent:focus::before {
  background-color: transparent;
}

.button--size-sm {
  padding: .2rem 0.75rem;
  font-size: var(--text-sm);
}

.button--size-lg {
  padding: 1rem 3.75rem;
  font-size: var(--text-lg);
}

.button--compact-true {
  padding: 0.1rem;
}

.button--margin-false {
  margin: 0;
}

.button__content {
  display: flex;
  align-items: center;
}

.button:hover .button__content {
  animation: button-hover 0.2s forwards;
}

.button__content__icon {
  width: 1.5rem;
  margin: 0 0.1rem;
}

.button__content__text {
  position: relative;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .button--hide-text-sm .button__content__text {
    display: none;
  }
}
