.input {
    padding: .4rem;
    font-size: var(--text-md);
    background-color: var(--background-content-color);
    color: var(--background-content-contrast-text-color);
    border: solid 1px var(--muted-color);
    max-width: 100%;
    margin-bottom: 0.5rem;
  border-radius: var(--border-radius);
}

.input:focus {
    border-color: var(--primary-color);
}

.input--size-lg {
    padding: 1rem;
    font-size: var(--text-lg);
}
